{% extends 'preview-base.html' %}

{% block title %}Edit Post - Akshell Blog{% endblock %}

{% block section %}
  <a href="{% url 'post' post.slug %}">{{ post.title }}</a> ▸ Edit
{% endblock %}

{% block content %}
  <h1>Edit Post</h1>
  <form method="post" action=".">
    {% csrfToken %}
    Title: <input type="text" name="title" value="{{ post.title }}"><br>
    Text: <textarea name="text" rows="40" cols="80">{{ post.text }}</textarea><br>
    <input type="button" value="Preview" onclick="preview()">
    <input type="submit" value="Save">
  </form>
  {{ super }}
{% endblock %}
