{% extends 'preview-base.html' %}

{% block title %}New Post - Akshell Blog{% endblock %}

{% block section %}New{% endblock %}

{% block content %}
  <h1>New Post</h1>
  <form method="post" action=".">
    {% csrfToken %}
    Slug: <input type="text" name="slug"><br>
    Title: <input type="text" name="title"><br>
    Text: <textarea name="text" rows="40" cols="80"></textarea><br>
    <input type="button" value="Preview" onclick="preview()">
    <input type="submit" value="Create">
  </form>
  {{ super }}
{% endblock %}
